<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.studentmanagementonlinesystem.mapper.StudentMapper">
    <select id="findAll" resultType="Student">
        select sid, sname, password
        from s
    </select>

    <select id="findById" resultType="Student">
        select sid, sname, password
        from s
        where sid = #{sid}
    </select>

    <update id="updateById">
        update s
        <set>
            <if test="student.sname != null and student.sname != ''">
                sname = #{student.sname},
            </if>
            <if test="student.password != null and student.password != ''">
                password = #{student.password},
            </if>
        </set>
        where sid = #{student.sid}
    </update>

    <insert id="register" useGeneratedKeys="true" keyProperty="student.sid">
        insert into s (sname, password)
        values (#{student.sname}, #{student.password})
    </insert>

    <delete id="deleteById">
        delete from s
        where sid = #{sid}
    </delete>
</mapper>
