<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.studentmanagementonlinesystem.mapper.StudentMapper">
    <select id="findAll" resultType="Student">
        select sid, sname, password
        from s
    </select>

    <select id="findById" resultType="Student">
        select sid, sname, password
        from s
        where sid = #{sid}
    </select>

    <select id="findBySearch" resultType="Student">
        select sid, sname, password
        from s
        <where>
            <if test="student != null">
                <if test="student.sid != null">
                    and sid = #{student.sid}
                </if>
                <if test="student.sname != null and student.sname != ''">
                    <choose>
                        <when test="fuzzy != null and fuzzy == 1">
                            and sname like concat('%', #{student.sname}, '%')
                        </when>
                        <otherwise>
                            and sname = #{student.sname}
                        </otherwise>
                    </choose>
                </if>
                <if test="student.password != null and student.password != ''">
                    and password = #{student.password}
                </if>
            </if>
        </where>
    </select>

    <update id="updateById">
        update s
        <set>
            <if test="student.sname != null and student.sname != ''">
                sname = #{student.sname},
            </if>
            <if test="student.password != null and student.password != ''">
                password = #{student.password},
            </if>
        </set>
        where sid = #{student.sid}
    </update>

    <insert id="save">
        insert into s (sid, sname, password)
        values (#{student.sid}, #{student.sname}, #{student.password})
    </insert>

    <insert id="register" useGeneratedKeys="true" keyProperty="student.sid">
        insert into s (sname, password)
        values (#{student.sname}, #{student.password})
    </insert>

    <delete id="deleteById">
        delete from s
        where sid = #{sid}
    </delete>
</mapper>
